In [15]:
import pandas as pd
import numpy as np

# Part 1 - Up or Down?
---

In [17]:
data = pd.read_csv('Data_Day1A.txt', sep='\n', header = 0)
data['Shift'] = data['Original'].shift(1)
data['Change'] = np.sign(data['Original'] - data['Shift'])
data['Change'] = data['Change'].map({-1:'Down',1:'Up'})
data

      Original   Shift Change
0          156     NaN    NaN
1          153   156.0   Down
2          163   153.0     Up
3          168   163.0     Up
4          166   168.0   Down
...        ...     ...    ...
1995      3754  3745.0     Up
1996      3755  3754.0     Up
1997      3762  3755.0     Up
1998      3769  3762.0     Up
1999      3770  3769.0     Up

[2000 rows x 3 columns]

In [18]:
data['Change'].value_counts()

Up      1233
Down     766
Name: Change, dtype: int64

# Part 2 - Smooth up or down
---

In [28]:
smooth = pd.DataFrame()
smooth['Smooth'] = np.convolve(data['Original'],[1,1,1], 'valid')
smooth['SmoothShift'] = smooth['Smooth'].shift(1)
smooth['Change'] = np.sign(smooth['Smooth'] - smooth['SmoothShift'])
smooth['Change'] = smooth['Change'].map({-1:'Down',1:'Up'})
smooth

      Smooth  SmoothShift Change
0        472          NaN    NaN
1        484        472.0     Up
2        497        484.0     Up
3        498        497.0     Up
4        479        498.0   Down
...      ...          ...    ...
1993   11218      11187.0     Up
1994   11254      11218.0     Up
1995   11271      11254.0     Up
1996   11286      11271.0     Up
1997   11301      11286.0     Up

[1998 rows x 3 columns]

In [30]:
smooth['Change'].value_counts()

Up      1275
Down     678
Name: Change, dtype: int64